################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ContosoUniversity/config
/.vs/ContosoUniversity
/ContosoUniversity/bin/Debug/netcoreapp2.1
/ContosoUniversity/obj
/ContosoUniversity/Properties
/ContosoUniversity
/ContosoUniversity.IntegrationTests
